# SWIG intermediate files
/openslide_wrap.c
/openslide_wrap.o
/php_openslide.h

# SVS samples
/test/slide1.svs
/test/slide2.svs
/test/slide3.svs

# sample slide tiles folder
/slide_files

/other files

/test/tiles